/website
/website/
/website/**

# dependencies
node_modules/

# Expo / build artifacts
.expo/
dist/
web-build/

# VCS / editor / caches
.git/
.DS_Store

# logs
logs/
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
