@import 'tailwindcss';
@import 'uniwind';
@import 'heroui-native/styles';

@source './node_modules/heroui-native/lib';

@layer theme {
  @variant light {
    --color-background: #FFFFFF;
    --color-card-background: #F2F2F7;
    --color-card-background-secondary: #F8F8FC;
    --color-blue-energy: #5386E4;
    --color-text-title: #000000;
  }
  @variant dark {
    --color-background: #000000;
    --color-card-background: #1C1C1E;
    --color-card-background-secondary: #2C2C2E;
    --color-blue-energy: #5386E4;
    --color-text-title: #FFFFFF;
  }
}